<!DOCTYPE html>
<html>

<head>
  <?!= HtmlService.createHtmlOutputFromFile('css').getContent(); ?>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap&subset=japanese" rel="stylesheet">

</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  
  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>  
  -->
  
  <script src="https://cdn.jsdelivr.net/npm/@chenfengyuan/vue-number-input@1.2.1/dist/vue-number-input.min.js"></script>
  

  <div class="block" id="app">

    <h4>大会名.<?=game_name ?>(ID:<?=gameid ?>)</h4>
    <h4>Hole {{ hole }}</h4>

    <div class="parent">
      <div>
  <!-- オーソドックスな数字入力
    <label for="sr1"><?=player1 ?>：</label>
    <input type="text" v-model="sr1"number><br>
    
    <label for="sr2"><?=player2 ?>：</label>
    <input type="text" v-model="sr2"number><br>
    
    <label for="sr3"><?=player3 ?>：</label>
    <input type="text" v-model="sr3"number><br>
    
    <label for="sr4"><?=player4 ?>：</label>
    <input type="text" v-model="sr4"number><br>
    
    <label for="sr5"><?=player5 ?>：</label>
    <input type="text" v-model="sr5"number><br>
  -->
  

    長さ:
    <number-input size="small" v-model="h_len" :min="10" :max="100" :step="10" inline center controls ></number-input><br>
    
    <h5>Score</h5>



    <?=player1 ?>:
    <number-input size="small" v-model="sr1" :min="1" :max="20" inline center controls ></number-input><br>
    
    <?=player2 ?>:
    <number-input size="small" v-model="sr2" :min="1" :max="20" inline center controls ></number-input><br>
    
    <template v-if="showP3">    
      <?=player3 ?>:
      <number-input size="small" v-model="sr3" :min="1" :max="20" inline center controls ></number-input><br>
    </template>
    
    <template v-if="showP4">
      <?=player4 ?>:
      <number-input size="small" v-model="sr4" :min="1" :max="20" inline center controls ></number-input><br>
    </template>
    
    <template v-if="showP5">    
      <?=player5 ?>:
      <number-input size="small" v-model="sr5" :min="1" :max="20" inline center controls ></number-input><br>
    </template>
    
    <template v-if="showP6">
      <?=player6 ?>:
      <number-input size="small" v-model="sr6" :min="1" :max="20" inline center controls ></number-input><br>
    </template>
    
    <template v-if="showP7">
      <?=player7 ?>:
      <number-input size="small" v-model="sr7" :min="1" :max="20" inline center controls ></number-input><br>
    </template>
    
    <template v-if="showP8">
      <?=player8 ?>:
      <number-input size="small" v-model="sr8" :min="1" :max="20" inline center controls ></number-input><br>
    </template>


    <button class="button1" @click="put_score(<?=gameid ?>,hole,h_len,sr1,sr2,sr3,sr4,sr5,sr6,sr7,sr8);get_graff(<?=gameid ?>,'<?=com_ssId?>')" >データ更新</button>
 
        <div class="chart-container" style="position: relative; width:100%; height:100%">
          <p><canvas id="myChart_total_stats"></canvas>
        </div>

      </div>
    </div><!--parent-->
  </div>




<script>
var vm = new Vue({
  el: '#app',
    data: {
      hole:<?=starthole ?>,
      mem_amount:　null,
      h_len: '',
      sr1: '',
      sr2: '',
      sr3: '',
      sr4: '',
      sr5: '',
      sr6: '',
      sr7: '',
      sr8: '',
      showP3:true,
      showP4:true,
      showP5:true,
      showP6:true,
      showP7:true,
      showP8:true,
      ps_data:[],
  },
  methods: {
    put_score: function (sheetname,hole,h_len,sr1,sr2,sr3,sr4,sr5,sr6,sr7,sr8) {
    console.log(sheetname,sr1);
    google.script.run
          .withSuccessHandler(function (data) {
          // GAS正常終了時の処理
            console.log('正常　取得したデータ: ' + data);
            vm.hole=data;
          })
          .withFailureHandler(function (data) {
          // GASエラー時の処理
            console.log('エラー　取得したデータ: ' + JSON.stringify(data));
          })
　　　　　　.GG_PointInput(sheetname,hole,h_len,sr1,sr2,sr3,sr4,sr5,sr6,sr7,sr8);
    },
    get_graff: async function(sheetname,ssId) {
      const ps_data_all = await this.getSheetData(sheetname,ssId);
      var ps_data = ps_data_all[0];
      console.log('pa_data ' + ps_data);
      this.ps_data = ps_data;     
      this.displayGraph_total(ps_data);
      this.sr1 = '';
      this.sr2 = '';
      this.sr3 = '';
      this.sr4 = '';
      this.sr5 = '';
      this.sr6 = '';
      this.sr7 = '';
      this.sr8 = '';

      },
      getSheetData: function(sheetname,ssId) {
        console.log('sheetname2: ' + sheetname);
        //コード.js内のgetSheetData()を実行
        return new Promise((resolve, reject) => {
          google.script.run
            .withSuccessHandler((result) => resolve(result))
            .withFailureHandler((error) => resolve(error))
            .GG_point_stats(sheetname,ssId);
        });
      },    
      displayGraph_total: function(){
      var ctx = document.getElementById('myChart_total_stats').getContext('2d');
      var myChart_total_stats = new Chart(ctx, {
        type: "bar",
        data:{
         labels:[<?=player1 ?>,<?=player2 ?>,<?=player3 ?>,<?=player4 ?>,<?=player5 ?>],
         datasets:[{
         label: 'TotalScore',
         data:this.ps_data
         }]
       },
     options:{    
/*     title: {
       display: true,
       fontSize: 12,
       text: 'TotalScore'
       },
*/ 
     },
     });
    },
},//method終わり

//★できていない
mounted:function(){
  var showP3 = "";
  var showP4 = "";
  var showP5 = "";
  var showP6 = "";
  var showP7 = "";
  var showP8 = "";

  if(<?=mem_amount?> == "2"){
    this.showP3 = false;
    this.showP4 = false;
    this.showP5 = false;
    this.showP6 = false;
    this.showP7 = false;
    this.showP8 = false;
  }
  else if(<?=mem_amount?> == "3"){
    this.showP4 = false;
    this.showP5 = false;
    this.showP6 = false;
    this.showP7 = false;
    this.showP8 = false;
  }
  else if(<?=mem_amount?> == "4"){
    this.showP5 = false;
    this.showP6 = false;
    this.showP7 = false;
    this.showP8 = false;
  }  
  else if(<?=mem_amount?> == "5"){
    this.showP6 = false;
    this.showP7 = false;
    this.showP8 = false;
  }  
  else if(<?=mem_amount?> == "6"){
    this.showP7 = false;
    this.showP8 = false;
  }  
  else if(<?=mem_amount?> == "7"){
    this.showP8 = false;
  }
},//moutedの終わり



})//vueの終わり



</script>

</body>
</html>
