<!DOCTYPE html>
<html>

<head>
  <?!= HtmlService.createHtmlOutputFromFile('css').getContent(); ?>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap&subset=japanese" rel="stylesheet">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>   
  <script src="https://cdn.jsdelivr.net/npm/@chenfengyuan/vue-number-input@1.2.1/dist/vue-number-input.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

  <!-- Vue -->
  <div class="block" id="app">
    <center>
      <h2 title="GAME No.<?=gameid ?>"><?=game_name ?>大会( <?=course_name ?>コース）</h2>
    </center>
  <template v-if="showAll">
    <center>
      <div class="title1" > Hole {{ hole }}</div>
    </center>
    <!--<div> -->
    <!-- オーソドックスな数字入力
      <label for="sr1"><?=player1 ?>：</label>
      <input type="text" v-model="sr1"number><br>
    -->
  
    <table id = "table05" align="center">
      <tbody>
        <tr>
          <td class = "length">
           コース長
          </td>
          <td>
            <number-input size="small" v-model="h_len" :min="10" :max="100" :step="5" inline center controls ></number-input><br>
          </td>
        </tr>
      </tbody>
    </table>
    <hr>
    <table id = "table05" align="center">
      <tbody>
        <tr>
          <td>
            <?=player1 ?>
          </td>
          <td>
            <number-input size="small" v-model="sr1" :min="1" :max="20" inline center controls ></number-input>
          </td>
        </tr>
        <tr>
          <td>
           <?=player2 ?>
          </td>
          <td>
            <number-input size="small" v-model="sr2" :min="1" :max="20" inline center controls ></number-input>
          </td>
        </tr>
        
        <template v-if="showP3">    
        <tr>
          <td>
            <?=player3 ?>
          </td>
          <td>
            <number-input size="small" v-model="sr3" :min="1" :max="20" inline center controls ></number-input><br>
          </td>
        </tr>
        </template>
        
        <template v-if="showP4">
        <tr>
          <td>
            <?=player4 ?>
          </td>
          <td>
            <number-input size="small" v-model="sr4" :min="1" :max="20" inline center controls ></number-input><br>
          </td>
        </tr>
        </template>
    
        <template v-if="showP5">
        <tr>
          <td>
            <?=player5 ?>
          </td>
          <td>
            <number-input size="small" v-model="sr5" :min="1" :max="20" inline center controls ></number-input><br>
          </td>
        </tr>
        </template>

        <template v-if="showP6">
        <tr>
          <td>
            <?=player6 ?>
          </td>
          <td>
            <number-input size="small" v-model="sr6" :min="1" :max="20" inline center controls ></number-input><br>
          </td>
        </tr>
        </template>
        
        <template v-if="showP7">
        <tr>
          <td>
            <?=player7 ?>
          </td>
          <td>
            <number-input size="small" v-model="sr7" :min="1" :max="20" inline center controls ></number-input><br>
          </td>
        </tr>
        </template>

        <template v-if="showP8">
        <tr>
          <td>
            <?=player8 ?>
          </td>
          <td>
            <number-input size="small" v-model="sr8" :min="1" :max="20" inline center controls ></number-input><br>
          </td>
        </tr>
        </template>
      </tbody>
    </table>

    <center>
    <button class="button3" @click="put_score(<?=gameid ?>,hole,h_len,sr1,sr2,sr3,sr4,sr5,sr6,sr7,sr8,<?=mem_amount?>);get_graff(<?=gameid ?>,'<?=com_ssId?>',<?=mem_amount?>)" >データ入力</button>
    <button class="button5" @click="undo_score(<?=gameid ?>,'<?=com_ssId?>',<?=starthole?>);get_graff(<?=gameid ?>,'<?=com_ssId?>',<?=mem_amount?>)">前ホール取消</button>
    </center>
    
    <!-- グラフ　-->

  <center>
    <div class="parent">
        <div class="chart-container" style="position: relative; width:100%; height:100%">
          <p><canvas id="myChart_total_stats"></canvas>
        </div>
    </div>
  </center>
  </template>
  <!--通常の表示-->
  
　<!--終了時の表示-->
  <template v-if="showFin">
    <center>
    <p class="ff_kosugi_blue">最終スコア</p>
    </center>
  <table id="table06" align="center">
    <thead>
      <tr>
        <th>選手</th>
        <th>合計</th>
        <th>平均</th>
        <th>1打回数</th>
      </tr>
    </thead>         
    <tbody>
      <tr>
        <th>{{  lists_stats[0][0] }}</th>
        <th>{{  lists_stats[0][1] }}</th>
        <th>{{  lists_stats[0][2] }}</th>
        <th>{{  lists_stats[0][3] }}</th>
      </tr>
      <tr>
        <th>{{  lists_stats[1][0] }}</th>
        <th>{{  lists_stats[1][1] }}</th>
        <th>{{  lists_stats[1][2] }}</th>
        <th>{{  lists_stats[1][3] }}</th>
      </tr>
      <tr>
        <template v-if="showP3">    
          <th>{{  lists_stats[2][0] }}</th>
          <th>{{  lists_stats[2][1] }}</th>
          <th>{{  lists_stats[2][2] }}</th>
          <th>{{  lists_stats[2][3] }}</th>
        </template>
      </tr>
      <tr>
        <template v-if="showP4">    
          <th>{{  lists_stats[3][0] }}</th>
          <th>{{  lists_stats[3][1] }}</th>
          <th>{{  lists_stats[3][2] }}</th>
          <th>{{  lists_stats[3][3] }}</th>
        </template>
      </tr>
      <tr>
        <template v-if="showP5">    
          <th>{{  lists_stats[4][0] }}</th>
          <th>{{  lists_stats[4][1] }}</th>
          <th>{{  lists_stats[4][2] }}</th>
          <th>{{  lists_stats[4][3] }}</th>
        </template>
      </tr>
      <tr>
        <template v-if="showP6">    
          <th>{{  lists_stats[5][0] }}</th>
          <th>{{  lists_stats[5][1] }}</th>
          <th>{{  lists_stats[5][2] }}</th>
          <th>{{  lists_stats[5][3] }}</th>
        </template>
      </tr>
      <tr>
        <template v-if="showP7">    
          <th>{{  lists_stats[6][0] }}</th>
          <th>{{  lists_stats[6][1] }}</th>
          <th>{{  lists_stats[6][2] }}</th>
          <th>{{  lists_stats[6][3] }}</th>
        </template>
      </tr>
      <tr>
        <template v-if="showP8">    
          <th>{{  lists_stats[7][0] }}</th>
          <th>{{  lists_stats[7][1] }}</th>
          <th>{{  lists_stats[7][2] }}</th>
          <th>{{  lists_stats[7][3] }}</th>
        </template>
      </tr>


    </tbody>
  </table>
       <button class="button6" @click="get_csv(<?=gameid ?>)" >ダウンロード（CSV）</button><br>
       <h8>※ダンロードはブラウザにより、表示された画面で「再読込」が必要です。</h8>
       <!-- リンクするが、ろぐいんNG
       <strong>
        　　<a top.location.href="https://groundgolf.club/">
           <h8>GroundGolfClubに戻る</h8></a>
       </strong>
       -->


  </template>
　<!--終了時の表示-->

  </div>  <!-- vue -->


<script>
var vm = new Vue({
  el: '#app',
    data: {
      hole:<?=starthole ?>,
      mem_amount:　null,
      h_len: '',
      sr1: '',
      sr2: '',
      sr3: '',
      sr4: '',
      sr5: '',
      sr6: '',
      sr7: '',
      sr8: '',
      showP3:true,
      showP4:true,
      showP5:true,
      showP6:true,
      showP7:true,
      showP8:true,
      showAll:true,
      showFin:false,
      ps_data:[],
      latest_hole:'',
      lists_stats:[],
  },
  methods: {
    put_score: function (sheetname,hole,h_len,sr1,sr2,sr3,sr4,sr5,sr6,sr7,sr8,mem_amount) {
    console.log(sheetname,sr1);
    google.script.run
          .withSuccessHandler(function (data) {
          // GAS正常終了時の処理
            console.log('取得データ: ' + data);
            vm.hole=data;
            if(data == 0){
              vm.showAll = false;
              vm.showFin = true;
            }
          })
          .withFailureHandler(function (data) {
          // GASエラー時の処理
          })
　　　　　　.GG_PointInput(sheetname,hole,h_len,sr1,sr2,sr3,sr4,sr5,sr6,sr7,sr8,mem_amount);
          this.get_stats(sheetname,mem_amount);

    },
    get_graff: async function(sheetname,ssId,mem_amount) {
      const ps_data_all = await this.getSheetData(sheetname,ssId,mem_amount);
      var ps_data = ps_data_all[0];
      console.log('pa_data ' + ps_data);
      this.ps_data = ps_data;

      //記録済の最新ホール番号を入手、グラフのヘッダ用
      const latest_hole = await this.getlatest_hole(sheetname,ssId);
      console.log('graph latest hole ' + latest_hole);
      this.latest_hole = latest_hole;
      console.log('graph latest this.hole ' + latest_hole);

      this.displayGraph_total(ps_data,mem_amount,latest_hole);
      this.sr1 = '';
      this.sr2 = '';
      this.sr3 = '';
      this.sr4 = '';
      this.sr5 = '';
      this.sr6 = '';
      this.sr7 = '';
      this.sr8 = '';
      },
      
      getSheetData: function(sheetname,ssId,mem_amount) {
        console.log('sheetname2: ' + sheetname);
        //コード.js内のgetSheetData()を実行
        return new Promise((resolve, reject) => {
          google.script.run
            .withSuccessHandler((result) => resolve(result))
            .withFailureHandler((error) => resolve(error))
            .GG_latest_point(sheetname,ssId,mem_amount);
        });
      },
      
      displayGraph_total: function(ps_data,mem_amount,latest_hole){
      console.log('graph mem amount ' + mem_amount);
      console.log('graph mem ps_data ' + ps_data);
      console.log('graph latest_hole ' + latest_hole);


      //人数により、ラベルを制御
      if(mem_amount == 2){
        var labels_name = [<?=player1 ?>,<?=player2 ?>];
        }
      else if (mem_amount == 3){
        var labels_name = [<?=player1 ?>,<?=player2 ?>,<?=player3 ?>];
        }
      else if (mem_amount == 4){
        var labels_name = [<?=player1 ?>,<?=player2 ?>,<?=player3 ?>,<?=player4 ?>];
        }
      else if (mem_amount == 5){
        var labels_name = [<?=player1 ?>,<?=player2 ?>,<?=player3 ?>,<?=player4 ?>,<?=player5 ?>];
        }
      else if (mem_amount == 6){
        var labels_name = [<?=player1 ?>,<?=player2 ?>,<?=player3 ?>,<?=player4 ?>,<?=player5 ?>,<?=player6 ?>];
        }
      else if (mem_amount == 7){
        var labels_name = [<?=player1 ?>,<?=player2 ?>,<?=player3 ?>,<?=player4 ?>,<?=player5 ?>,<?=player6 ?>,<?=player7 ?>];
        }
      else if (mem_amount == 8){
        var labels_name = [<?=player1 ?>,<?=player2 ?>,<?=player3 ?>,<?=player4 ?>,<?=player5 ?>,<?=player6 ?>,<?=player8 ?>];
        }


      var ctx = document.getElementById('myChart_total_stats').getContext('2d');
      var myChart_total_stats = new Chart(ctx, {
        type: "bar",
        data:{
         labels:labels_name,
         datasets:[{
         label: '終了ホール'+ latest_hole,
         backgroundColor: "#A4C6FF",                  // 棒の塗りつぶし色
         data:this.ps_data
         }]
       },
     options:{
       responsive: true,
       maintainAspectRatio: true,
         scales: {
           yAxes: [{
             padding: 100,
             ticks: {
               min: 0,
             },
           }],
           xAxes:[{
             categoryPercentage: 0.3
           }],
         }
     },
     });//chartの終わり
    },//graphの終わり
    
 //score修正
    undo_score: function(sheetname,ssId,starthole){
          google.script.run
          .withSuccessHandler(function (data) {
            vm.hole=data;
            console.log('正常　取得したデータ: ' + data);
          })
          .withFailureHandler(function (data) {
          // GASエラー時の処理
            console.log('エラー　取得したデータ: ' + JSON.stringify(data));
          })
　　　　　　.undo_score(sheetname,ssId,starthole);
    },//undoの終わり
    
    //記録済最新ホール番号
    getlatest_hole: function(sheetname,ssId) {
      return new Promise((resolve, reject) => {
        google.script.run
          .withSuccessHandler((result) => resolve(result))
          .withFailureHandler((error) => resolve(error))
        .latest_hole(sheetname,ssId);
        });
      },//最新ホール終
      
    get_stats : function(sheetname,mem_amount){
    google.script.run
      .withSuccessHandler(function (data) {
            // GAS正常終了時の処理
      console.log('正常stats　取得したデータ: ' + data);
           vm.lists_stats = data;
           console.log('正常stats内　[0] '+ vm.lists_stats[3]);
                    })
          .withFailureHandler(function (data) {
            // GASエラー時の処理
            console.log('エラーstats　取得したデータ: ' + data);
          })
          .GG_point_stats(sheetname,mem_amount);
  },//stats情報入手の終わり
  
  get_csv: function(sheetname){
  console.log('get_csv ');
  google.script.run
    .withSuccessHandler(function (data) {
       // GAS正常終了時の処理
     console.log('getcsv取得たデータ: ' + data);
     window.open(data, '_blank');
    })
    .withFailureHandler(function (data) {
       // GASエラー時の処理
     console.log('エラー　取得したデータ: ' + JSON.stringify(data));
    })
    .getCSV(sheetname);
  },

  
      
    
},//method終わり

mounted:function(){
  var showP3 = "";
  var showP4 = "";
  var showP5 = "";
  var showP6 = "";
  var showP7 = "";
  var showP8 = "";

  if(<?=mem_amount?> == "2"){
    this.showP3 = false;
    this.showP4 = false;
    this.showP5 = false;
    this.showP6 = false;
    this.showP7 = false;
    this.showP8 = false;
  }
  else if(<?=mem_amount?> == "3"){
    this.showP4 = false;
    this.showP5 = false;
    this.showP6 = false;
    this.showP7 = false;
    this.showP8 = false;
  }
  else if(<?=mem_amount?> == "4"){
    this.showP5 = false;
    this.showP6 = false;
    this.showP7 = false;
    this.showP8 = false;
  }  
  else if(<?=mem_amount?> == "5"){
    this.showP6 = false;
    this.showP7 = false;
    this.showP8 = false;
  }  
  else if(<?=mem_amount?> == "6"){
    this.showP7 = false;
    this.showP8 = false;
  }  
  else if(<?=mem_amount?> == "7"){
    this.showP8 = false;
  }
},//moutedの終わり



})//vueの終わり

//Chartのデータラベル
Chart.plugins.register({
    afterDatasetsDraw: function (chart, easing) {
        // To only draw at the end of animation, check for easing === 1
        var ctx = chart.ctx;

        chart.data.datasets.forEach(function (dataset, i) {
            var meta = chart.getDatasetMeta(i);
            if (!meta.hidden) {
                meta.data.forEach(function (element, index) {
                    // Draw the text in black, with the specified font
                    ctx.fillStyle = 'rgb(0, 0, 0)';

                    var fontSize = 12;
                    var fontStyle = 'normal';
                    var fontFamily = 'Helvetica Neue';
                    ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

                    // Just naively convert to string for now
                    var dataString = dataset.data[index].toString();

                    // Make sure alignment settings are correct
                    ctx.textAlign = 'center';
                    ctx.textBaseline = 'middle';

                    var padding = 5;
                    var position = element.tooltipPosition();
                    ctx.fillText(dataString, position.x, position.y - (fontSize / 2) - padding);
                });
            }
        });
    }
});
//chartのデータラベル終

$('#myChart_total_stats').css('width','50%');
$('#myChart_total_stats').css('height','80px');

</script>

</body>
</html>
