<!DOCTYPE html>
<html>

<head>
  <?!= HtmlService.createHtmlOutputFromFile('css').getContent(); ?>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap&subset=japanese" rel="stylesheet">
</head>
  <h2 title="GAME No.<?=gameid ?>">大会名.<?=vgidnammehtml ?>： <?=set_num ?>セットマッチ</h2>
<body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>  

  <div class="block" id="app">
  
  <template v-if="showAll">
    <p class="ff_kosugi_red" color="#f321bf">セット：{{ lists[0] }}　ゲーム：{{ lists[1] }}</p><hr>
  
  <template v-if="showA1">
      <p class="ff_kosugi">{{ server }}【ファーストサーブ】</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="button1" @click="put_score(<?=gameid ?>,'F','-','-','A1','<?=com_ssId?>',<?=set_num ?>);get_graff(<?=gameid ?>,'<?=com_ssId?>')">フォルト</button>
      <button class="button1" @click="put_score(<?=gameid ?>,'SA','-','A','SS','<?=com_ssId?>',<?=set_num ?>);get_graff(<?=gameid ?>,'<?=com_ssId?>')">サービスエース</button><br>
  </template>
  <template v-if="showA2">
      <p class="ff_kosugi">{{ server }}【セカンドサーブ】</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="button1" @click="put_score(<?=gameid ?>,'DF','-','B','SS','<?=com_ssId?>',<?=set_num ?>);get_graff(<?=gameid ?>,'<?=com_ssId?>')">Ｄフォルト</button>
      <button class="button1" @click="put_score(<?=gameid ?>,'2SA','-','A','SS','<?=com_ssId?>',<?=set_num ?>);get_graff(<?=gameid ?>,'<?=com_ssId?>')">サービスエース</button><br>
  </template>
  <template v-if="showB1">
      <p class="ff_kosugi">{{ server }}【ファーストサーブ】</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="button2" @click="put_score(<?=gameid ?>,'-','F','-','B1','<?=com_ssId?>',<?=set_num ?>);get_graff(<?=gameid ?>,'<?=com_ssId?>')">フォルト</button>
      <button class="button2" @click="put_score(<?=gameid ?>,'-','SA','B','SS','<?=com_ssId?>',<?=set_num ?>);get_graff(<?=gameid ?>,'<?=com_ssId?>')">サービスエース</button><br>
  </template>
  <template v-if="showB2">
      <p class="ff_kosugi">{{ server }}【セカンドサーブ】</p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="button2" @click="put_score(<?=gameid ?>,'-','DF','A','SS','<?=com_ssId?>',<?=set_num ?>);get_graff(<?=gameid ?>,'<?=com_ssId?>')">Ｄフォルト</button>
      <button class="button2" @click="put_score(<?=gameid ?>,'-','2SA','B','SS','<?=com_ssId?>',<?=set_num ?>);get_graff(<?=gameid ?>,'<?=com_ssId?>')">サービスエース</button><br>
  </template>
  <hr>
      <p class="ff_kosugi_blue">スタッツ入力</p>
      Ａ：
      <button class="button3" @click="put_score(<?=gameid ?>,'Win','-','A','SS','<?=com_ssId?>',<?=set_num ?>);get_graff(<?=gameid ?>,'<?=com_ssId?>')">Winner</button>
      <button class="button3" @click="put_score(<?=gameid ?>,'Uer','-','B','SS','<?=com_ssId?>',<?=set_num ?>);get_graff(<?=gameid ?>,'<?=com_ssId?>')">Error</button><br>
      Ｂ：
      <button class="button4" @click="put_score(<?=gameid ?>,'-','Win','B','SS','<?=com_ssId?>',<?=set_num ?>);get_graff(<?=gameid ?>,'<?=com_ssId?>')">Winner</button>
      <button class="button4" @click="put_score(<?=gameid ?>,'-','Uer','A','SS','<?=com_ssId?>',<?=set_num ?>);get_graff(<?=gameid ?>,'<?=com_ssId?>')">Error</button><br>
      <!-- やり直しボタン　-->
      <button class="button5" @click="undo_score(<?=gameid ?>,'<?=com_ssId?>');get_graff(<?=gameid ?>,'<?=com_ssId?>')">やり直し</button>
 
<!--  </template> -->
 
    <table id="table05" align="center">
      <thead>
         <tr>
          <th></th>
          <th class = "playerA">先行（Ａ）<br><?=playerA ?></th>
          <th class = "playerB">後攻（Ｂ）<br><?=playerB ?></th>
        </tr>
      </thead>         
      <tbody>
        <tr>
          <th>スコア</th>
          <td>{{ lists[6] }}</td>
          <td>{{ lists[7] }}</td>
        </tr>
        <tr>
          <th>ゲーム</th>
          <td>{{ lists[8] }}</td>
          <td>{{ lists[9] }}</td>
        </tr>
        <tr>
          <th>セット</th>
          <td>{{ lists[10] }}</td>
          <td>{{ lists[11] }}</td>
        </tr>
      </tbody>
    </table>
  
  <!--<template v-if="showAll">-->
  <!-- スタッツグラフ -->
    <div class="parent">
      <div class="chart-container" style="position: relative; width:100%; height:100%">
      <p><canvas id="myChart_total_stats"></canvas>
      </div>

      <div class="chart-container" style="position: relative; width:100%; height:100%">
      <p><canvas id="myChart_total_serveA"></canvas>
      </div>
    </div>
  </template>
  
  <!-- 最終スタッツ　-->
  <template v-if="showFinish">
      <p class="ff_kosugi_blue">最終スタッツ</p>
      <table id="table05" align="center">
      <thead>
         <tr>
          <th></th>
          <th class = "playerA">先行（Ａ）<br><?=playerA ?></th>
          <th class = "playerB">後攻（Ｂ）<br><?=playerB ?></th>
        </tr>
      </thead>         
      <tbody>
        <tr>
          <th>TotalSet</th>
          <td>{{ lists_stats[16] }}</td>
          <td>{{ lists_stats[17] }}</td>
        </tr>

        <tr>
          <th>TotalPoint<br>（％）</th>
          <td>{{ lists_stats[14] }}<br>{{ lists_stats[0] }}％</td>
          <td>{{ lists_stats[15] }}<br>{{ lists_stats[1] }}％</td>
        </tr>
        <tr>
          <th>Winner</th>
          <td>{{ lists_stats[6] }}</td>
          <td>{{ lists_stats[7] }}</td>
        </tr>
        <tr>
          <th>Error</th>
          <td>{{ lists_stats[8] }}</td>
          <td>{{ lists_stats[9] }}</td>
        <tr>
          <th>Keep</th>
          <td>{{ lists_stats[10] }}</td>
          <td>{{ lists_stats[11] }}</td>
        </tr>
        <tr>
          <th>Break</th>
          <td>{{ lists_stats[12] }}</td>
          <td>{{ lists_stats[13] }}</td>
        </tr>
        <tr>
          <th>サービスエース</th>
          <td>{{ lists_stats[4] }}</td>
          <td>{{ lists_stats[5] }}</td>
        </tr>
        <tr>
          <th>サーブイン（％）</th>
          <td>{{ lists_stats[2] }}％</td>
          <td>{{ lists_stats[3] }}％</td>
        </tr>

      </tbody>
    </table>
    <button class="button6" @click="get_csv(<?=gameid ?>,'<?=com_ssId?>')" >ダウンロード（CSV）</button>
  </template>  <!-- Finish時の表示エリア終わり -->

  
</div> <!-- Vew divの終わり -->

<script>
  var vm = new Vue({
    el: '#app',
    data: {
    lists: [],
    showA1: true,
    showA2: false,
    showB1: false,
    showB2: false,
    showAll:true,
    showFinish:false,
    gas_sside: null,
    lists_stats:[],
    server: <?=playerA ?>
    },
      methods: {
        put_score: function(sheetname,stats1,stats2,point,sside,ssId,setnum){
          google.script.run
          .withSuccessHandler(function (data) {
          // GAS正常終了時の処理
            console.log('正常　取得したデータ: ' + data);
            vm.lists = data;
            vm.server = data[3];
            if (data[3] == 'A'){
              vm.server = <?=playerA ?>;
            }
            else{
              vm.server = <?=playerB ?>;
            }
          })
          .withFailureHandler(function (data) {
          // GASエラー時の処理
            console.log('エラー　取得したデータ: ' + JSON.stringify(data));
          })
　　　　　　.PointInput(sheetname,stats1,stats2,point,sside,ssId);
          this.serve_view(sheetname,sside,ssId);
          this.get_stats(sheetname,ssId,setnum);
        },//ボタンの表示制御
        serve_view: function(sheetname,sside,ssId){
          google.script.run
          .withSuccessHandler(function (data) {
          gas_sside = data;
          if(gas_sside == 'A2'){
            vm.showA1 = false;
            vm.showA2 = true;
            vm.showB1 = false;
            vm.showB2 = false;
          }
          else if(gas_sside == 'B2'){
            vm.showA1 = false;
            vm.showA2 = false;
            vm.showB1 = false;
            vm.showB2 = true;          
          }
          else if(gas_sside == 'A1'){
            vm.showA1 = true;
            vm.showA2 = false;
            vm.showB1 = false;
            vm.showB2 = false;          
          }
          else if(gas_sside == 'B1'){
            vm.showA1 = false;
            vm.showA2 = false;
            vm.showB1 = true;
            vm.showB2 = false;          
          }
          else if(gas_sside == 'F'){
            vm.showAll = false;
            vm.showFinish = true;
          }

          })
          .withFailureHandler(function (data) {
          })
　　　　　　.ServeSide(sheetname,sside,ssId);
       },
      get_graff: async function(sheetname,ssId) {
        const ps_data_all = await this.getSheetData(sheetname,ssId);
        console.log('成功!取得したデータ: ' + ps_data_all);
        var ps_data = ps_data_all[0];
        var ps_data_server = ps_data_all[1];
        
        var ps_data_total = ps_data.slice(0,2);
        var ps_data_serveA = ps_data.slice(2,3);
        var ps_data_serveA_loss = 100-ps_data_serveA;
        
        var ps_data_serveB = ps_data.slice(3,4);
        var ps_data_serveB_loss = 100-ps_data_serveB;
        
        var ps_data_serveA = [ps_data_serveA,ps_data_serveA_loss];
        var ps_data_serveB = [ps_data_serveB,ps_data_serveB_loss];

        this.ps_data_total = ps_data_total;
        this.ps_data_serveA = ps_data_serveA;
        this.ps_data_serveB = ps_data_serveB;

        this.displayGraph_total(ps_data_total);

        if(ps_data_server == 'A'){
          this.displayGraph_serveA(ps_data_serveA);
        }
        else{
        
          this.displayGraph_serveB(ps_data_serveB);
        }
      },
      getSheetData: function(sheetname,ssId) {
        console.log('sheetname2: ' + sheetname);
        //コード.js内のgetSheetData()を実行
        return new Promise((resolve, reject) => {
          google.script.run
            .withSuccessHandler((result) => resolve(result))
            .withFailureHandler((error) => resolve(error))
            .point_stats(sheetname,ssId);
        });
      },    
      displayGraph_total: function(){
      var ctx = document.getElementById('myChart_total_stats').getContext('2d');
      var myChart_total_stats = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ['A','B'],
          datasets: [{
              label: 'PointStats',
              backgroundColor: [
                "#ffec64",
                "#3d94f6"
              ],
              data:this.ps_data_total
          }]
      },
      options: {
        title: {
           display: true,
           fontSize: 12,
           text: 'TotalPointStats'
        },
           cutoutPercentage:50,
           maintainAspectRatio: false,
      },       
      });
     },//Graph関数の終わり 
      displayGraph_serveA: function(){
      var ctx = document.getElementById('myChart_total_serveA').getContext('2d');
      var myChart_total_serveA = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ['In','Out'],
          datasets: [{
              label: 'Serve[A]Stats',
              backgroundColor: [
                "#ffec64",
                "#808080"
              ],
              data:this.ps_data_serveA
          }]
      },
      options: {
        title: {
           display: true,
           fontSize: 12,
           text: 'ServeAStats'
        },
           cutoutPercentage:50,
           maintainAspectRatio: false,
      },       
      });
     },//GraphA関数の終わり 

      displayGraph_serveB: function(){
      var ctx = document.getElementById('myChart_total_serveA').getContext('2d');
      var myChart_total_serveA = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ['In','Out'],
          datasets: [{
              label: 'Serve[B]Stats',
              backgroundColor: [
                "#3d94f6",
                "#808080"
              ],
              data:this.ps_data_serveB
          }]
      },
      options: {
        title: {
           display: true,
           fontSize: 12,
           text: 'ServeBStats'
        },
           cutoutPercentage:50,
           maintainAspectRatio: false,
      },       
      });
     },//GraphB関数の終わり 
    //score修正
    undo_score: function(sheetname,ssId){
          google.script.run
          .withSuccessHandler(function (data) {
          // GAS正常終了時の処理
          // やり直しの前がFの場合にサーバーの処理が不具合
            console.log('正常　取得したデータ: ' + data);
            vm.lists = data;
            vm.server = data[3];
            if (data[3] == 'A'){
              vm.server = <?=playerA ?>;
            }
            else{
              vm.server = <?=playerB ?>;
            }
          })
          .withFailureHandler(function (data) {
          // GASエラー時の処理
            console.log('エラー　取得したデータ: ' + JSON.stringify(data));
          })
　　　　　　.undo_score(sheetname,ssId);
          this.serve_view(sheetname,'ss',ssId);
    },//undoの終わり
  
  //stats情報の取得  
  get_stats : function(sheetname,ssId,setnum){
    google.script.run
      .withSuccessHandler(function (data) {
            // GAS正常終了時の処理
      console.log('正常stats　取得したデータ: ' + data);
           vm.lists_stats = data;
                    })
          .withFailureHandler(function (data) {
            // GASエラー時の処理
            console.log('エラーstats　取得したデータ: ' + data);
          })
          .GetTennisStats(sheetname,ssId,setnum);
  },//stats情報入手の終わり

    
  get_csv: function(sheetname,ssId){
    console.log('get_csv ');
    google.script.run
      .withSuccessHandler(function (data) {
         // GAS正常終了時の処理
       console.log('正常　取得したデータ: ' + data);
       window.open(data, '_blank')
      })
      .withFailureHandler(function (data) {
         // GASエラー時の処理
       console.log('エラー　取得したデータ: ' + JSON.stringify(data));
      })
      .getCSV(sheetname,ssId);
  },
    
    
    },//methodの終わり
    mounted:function(){
      this.lists = [1,1,,,,,0,0,0,0,0,0];
    },
  　})
</script>
</body>
</html>
